.row {
	background: gray;
	border: black 1px solid;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	margin-top: 0;
	cursor: pointer;
	display: inline-block;
	float: left;
}
.coll {
	display: block;
	float: left;
	width: 100%;
}
.yellow {
	background: yellow;
	border: black 1px solid;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	margin-top: 0;
	cursor: pointer;
	display: inline-block;
	float: left;
}
